<a href="https://colab.research.google.com/github/jiaweitang22/transformers/blob/main/GPT3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [62]:
!pip install openai
import os
import openai
import pandas as pd
import numpy as np
import re 
import matplotlib.pyplot as plt

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: openai in /usr/local/lib/python3.7/dist-packages (0.20.0)
Requirement already satisfied: openpyxl>=3.0.7 in /usr/local/lib/python3.7/dist-packages (from openai) (3.0.10)
Requirement already satisfied: pandas-stubs>=1.1.0.11 in /usr/local/lib/python3.7/dist-packages (from openai) (1.2.0.62)
Requirement already satisfied: tqdm in /usr/local/lib/python3.7/dist-packages (from openai) (4.64.0)
Requirement already satisfied: requests>=2.20 in /usr/local/lib/python3.7/dist-packages (from openai) (2.23.0)
Requirement already satisfied: pandas>=1.2.3 in /usr/local/lib/python3.7/dist-packages (from openai) (1.3.5)
Requirement already satisfied: et-xmlfile in /usr/local/lib/python3.7/dist-packages (from openpyxl>=3.0.7->openai) (1.1.0)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=1.2.3->openai) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=1.2.3->openai) (2022.1)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=1.2.3->openai) (1.21.6)
Requirement already satisfied: typing-extensions>=3.7.4.3 in /usr/local/lib/python3.7/dist-packages (from pandas-stubs>=1.1.0.11->openai) (4.1.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=1.2.3->openai) (1.15.0)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20->openai) (1.24.3)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20->openai) (2022.6.15)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20->openai) (2.10)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20->openai) (3.0.4)

In [63]:
from google.colab import drive
drive.mount('/content/drive',force_remount=True)

Mounted at /content/drive

## Loading ER Dataset

In [129]:
dataset_name = "music"
temp = 0.8

In [130]:
df = pd.read_csv("drive/My Drive/mit22/er_labeled_datasets/%s_labeled.csv"%dataset_name, encoding='latin-1')
df

,ltable.Album_Name,ltable.Artist_Name,ltable.CopyRight,ltable.Released,ltable.Song_Name,ltable.Time,rtable.Album_Name,rtable.Artist_Name,rtable.CopyRight,rtable.Released,rtable.Song_Name,rtable.Time,label
0,vhs,x ambassadors,2015 kidinakorner/interscope records,30-Jun-15,vhs outro (interlude),1:25,vhs [explicit],x ambassadors,(c) 2015 kidinakorner/interscope records,"June 30, 2015",vhs outro (interlude) [explicit],1:25,1
1,title (deluxe),meghan trainor,"2014, 2015 epic records, a division of sony m...",9-Jan-15,credit,2:51,title (deluxe),meghan trainor,"2011 what a music ltd, licence exclusive parl...","January 9, 2015",credit,2:51,1
2,slow down (remixes),selena gomez,"2013 hollywood records, inc.",20-Aug-13,slow down (smash mode remix),5:21,slow down remixes,selena gomez,"(c) 2013 hollywood records, inc.","August 20, 2013",slow down (smash mode remix),5:21,1
3,slow down (reggae remixes) - single,selena gomez,"2013 hollywood records, inc.",20-Aug-13,slow down (sure shot rockers reggae dub remix),3:15,good for you (remixes),selena gomez,(c) 2015 interscope records,"September 4, 2015",good for you (yellow claw & cesqeaux remix) [f...,3:01,0
4,vhs,x ambassadors,2015 kidinakorner/interscope records,30-Jun-15,vhs outro (interlude),1:25,vhs [explicit],x ambassadors,(c) 2015 kidinakorner/interscope records,"June 30, 2015",first show (interlude),0:11,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
534,doggumentary,snoop dogg,"__æ 2011 capitol records, llc. all rights re...",29-Mar-11,peer pressure (feat. traci nelson),4:07,doggumentary [edited],snoop dogg,"(c) 2011 capitol records, llc","March 29, 2011",boom ((feat. t-pain) [edited]),3:50,0
535,doggumentary,snoop dogg,"__æ 2011 capitol records, llc. all rights re...",29-Mar-11,i don't need no b**** (feat. devin the dude & ...,3:59,doggumentary [edited],snoop dogg,"(c) 2011 capitol records, llc","March 29, 2011",platinum ((feat. r. kelly) [edited]),4:29,0
536,doggumentary,snoop dogg & gorillaz,"__æ 2011 capitol records, llc. all rights re...",29-Mar-11,sumthin like this night (feat. gorillaz),3:37,doggumentary [explicit],snoop dogg,"(c) 2011 capitol records, llc","March 29, 2011",this weed iz mine (feat. wiz khalifa) [explicit],3:43,0
537,doggumentary,snoop dogg & latoiya williams,"_Ê 2011 capitol records, llc. all rights re...",29-Mar-11,cold game (feat. latoiya williams),3:49,doggumentary [explicit],snoop dogg,"(c) 2011 capitol records, llc","March 29, 2011",toyz n da hood (feat. bootsy collins) [explicit],2:40,0
538,clarity (deluxe edition),zedd,__æ 2013 interscope records,24-Sep-13,follow you down (feat. bright lights),5:47,clarity,zedd,(c) 2012 interscope records,"October 9, 2012",spectrum [feat. matthew koma],4:03,0

# Format Prompt

In [131]:
def serialize_entity(row, left=False): 
  col_names = np.array([s.lower() for s in np.array(df.columns)])
  string = ''
  for i in np.arange(len(row)):
    if (left and col_names[i][0]=='l'):
      string = string + col_names[i][7:] + ": "
      string = string + str(row[i]) + " "
    elif (left==False and col_names[i][0]=='r'):
      string = string + col_names[i][7:] + ": "
      string = string + str(row[i]) + " "
  return string

In [132]:
def serialize_pair(row):
  str1 = "A is " + serialize_entity(row, left=True)
  str2 = "B is " + serialize_entity(row, left=False)
  str3 = "Are A and B the same?"

  l = [str1, str2, str3]
  return "\n".join(l)

Example Prompt

In [133]:
print(serialize_pair(df.iloc[1]))

A is album_name: title (deluxe) artist_name: meghan trainor copyright:  2014, 2015 epic records, a division of sony music entertainment released: 9-Jan-15 song_name: credit time: 2:51 : 1
B is album_name: title (deluxe) artist_name: meghan trainor copyright:  2011 what a music ltd, licence exclusive parlophone music france released:  January 9, 2015 song_name: credit time: 2:51
Are A and B the same?

In [134]:
def GPT_Completion(texts):## Call the API key under your account (in a secure way)
  openai.api_key = "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"
  response = openai.Completion.create(engine="text-davinci-002",
  prompt =  texts,
  temperature = temp,
  top_p = 1,
  max_tokens = 32,
  frequency_penalty = 0,
  presence_penalty = 0)
  ret = response.choices[0].text
  return re.sub('\n', '', ret)

## Asking GPT-3

In [135]:
def prediction(df):
  res = []
  for i in np.arange(len(df)):
    prompt = serialize_pair(df.iloc[i])
    output = GPT_Completion(prompt)
    res.append(output)
    encoded =  [0 if 'no' in i.lower() else 1 for i in res]
  return [res, encoded]

# ONLY RUN ONCE!!

In [136]:
predicted_labels = prediction(df)
# predicted_labels[0] gives text results, predicted_labels[1] gives numerical results

RateLimitError: ignored

In [138]:
len(predicted_labels[1])

397

In [139]:
len(df)

539

In [ ]:
file = open("drive/MyDrive/mit22/gpt3_results/%s.txt"%(dataset_name+'_temperature_'+str(temp)), "w")

# Saving the results in a text file
content = str('\n'.join(predicted_labels[0]))
file.write(content)
file.close()

## Calculate Accuracy

In [ ]:
labels = np.array([int(x) for x in np.array(df['match_label'])])

In [123]:
results = pd.DataFrame({"GPT-3": predicted_labels[1], "Labels": labels[:len(predicted_labels[1])]})
results

     GPT-3  Labels
0        0       1
1        1       0
2        0       0
3        0       0
4        1       0
..     ...     ...
392      1       1
393      1       0
394      0       0
395      0       0
396      0       0

[397 rows x 2 columns]

In [124]:
path = '/content/drive/My Drive/mit22/gpt3_results/%s.csv'%(dataset_name+'_temperature_'+str(temp))

with open(path, 'w', encoding = 'utf-8-sig') as f:
  results.to_csv(f)

In [125]:
proportion = np.mean(predicted_labels[1] == labels[:len(predicted_labels[1])])
baseline = np.mean(np.zeros(len(df)) == labels[:len(predicted_labels[1])])
print("The accuracy of GPT-3 is %s"%str(proportion))
print("The baseline accuracy is %s"%str(baseline))

The accuracy of GPT-3 is 0.7531486146095718
The baseline accuracy is 0.7682619647355163

In [127]:
df['match_label'].sum()

92

In [128]:
len(df['match_label'])

397

### Colab: [Notebook](https://colab.research.google.com/drive/1vrfFOORaDvMejur4VOFMgn4dKB7OZbBi?usp=sharing)

### Google Sheets: [Spreadsheet](https://docs.google.com/spreadsheets/d/1eMS0oktQkDkUBKA26yrE_MCtqRsW7cyIirFx_y-w1hg/edit?usp=sharing)

## Few Shot Learning

In [11]:
def GPT_Fewshot(texts):## Call the API key under your account (in a secure way)
  openai.api_key = "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"
  response = openai.Completion.create(engine="text-davinci-002",
  prompt =  texts,
  temperature = 0,
  top_p = 1,
  max_tokens = 32,
  stop='\n###',
  frequency_penalty = 0,
  presence_penalty = 0)
  ret = response.choices[0].text
  return re.sub('\n', '', ret)

In [34]:
def few_shot_prompt(df, n):
  prompt = "Determine whether entity A and B are the same: "
  for i in np.arange(n):
    if i%2 == 0:
      true_row = df.loc[df['label']==1].sample(1).iloc[0]
      prompt = prompt + "\nQuestion:"
      prompt = prompt + '\n' +serialize_pair(true_row) 
      prompt = prompt + '\n' + "Answer: True"
      prompt = prompt + "\n###"
    else:
        false_row = df.loc[df['label']==0].sample(1).iloc[0]
        prompt = prompt + "\nQuestion:"
        prompt = prompt + '\n' + serialize_pair(false_row)
        prompt = prompt + '\n' + "Answer: False"
        prompt = prompt + "\n###"
  #ask GPT-3

  return prompt

In [61]:
print(few_shot_prompt(df, 4)+'\nQuestion:\n'+serialize_pair(df.iloc[1])+'\nAnswer: ')

Determine whether entity A and B are the same:
Question:
A is album_name: a.m. artist_name: chris young copyright: __æ 2013 sony music entertainment released: 16-Sep-13 song_name: who i am with you time: 3:13 : 1
B is album_name: a.m. artist_name: chris young copyright:  (c) 2010 hollywood records, inc. released:  September 16, 2013 song_name: who i am with you time: 3:11
Are A and B the same?
Answer: True
###
Question:
A is album_name: listen (deluxe version) artist_name: david guetta copyright:  2014 what a music ltd. under exclusive license to parlophone/warner music france, under exclusive license to atlantic recording corporation for the united states. all rights reserved. released: 24-Nov-14 song_name: dangerous (feat. sam martin) [robin schulz remix] [radio edit] time: 3:20 : 0
B is album_name: mississippi-the album (explicit version) artist_name: david banner copyright:  (c) 2003 universal records, a division of umg recordings, inc. released:  May 20, 2003 song_name: fast life (album version (explicit)) [feat. ax] [explicit] time: 4:52
Are A and B the same?
Answer: False
###
Question:
A is album_name: blacc hollywood artist_name: wiz khalifa copyright:  2014 atlantic recording corporation for the united states and wea international inc. for the world outside of the united states. a warner music group company released: 19-Aug-14 song_name: true colors (feat. nicki minaj) time: 4:15 : 1
B is album_name: blacc hollywood [explicit] artist_name: wiz khalifa copyright:  2014 atlantic recording corporation for the united states and wea international inc. for the world outside of the united states. a warner music group company released:  August 19, 2014 song_name: true colors (feat. nicki minaj) [explicit] time: 4:15
Are A and B the same?
Answer: True
###
Question:
A is album_name: listen artist_name: david guetta copyright:  2014 what a music ltd. under exclusive license to parlophone/warner music france, under exclusive license to atlantic recording corporation for the united states. all rights reserved released: 24-Nov-14 song_name: the whisperer (feat. sia) time: 3:54 : 0
B is album_name: listen artist_name: david guetta copyright:  2015 if moving your mine released:  November 24, 2014 song_name: bang my head (feat. sia) time: 3:53
Are A and B the same?
Answer: False
###
Question:
A is album_name: title (deluxe) artist_name: meghan trainor copyright:  2014, 2015 epic records, a division of sony music entertainment released: 9-Jan-15 song_name: credit time: 2:51 : 1
B is album_name: title (deluxe) artist_name: meghan trainor copyright:  2011 what a music ltd, licence exclusive parlophone music france released:  January 9, 2015 song_name: credit time: 2:51
Are A and B the same?
Answer:

In [32]:
def few_shot_prediction(df):
  res = []
  for i in np.arange(50):
    question = few_shot_prompt(df, 8)
    question = question + '\nQuestion:\n'+serialize_pair(df.iloc[1])+'\nAnswer: '
    output = GPT_Fewshot(question)
    res.append(output)
    encoded =  [0 if 'false' in i.lower() else 1 for i in res]
  return [res, encoded]

In [35]:
few_shot_result = few_shot_prediction(df)
few_shot_result

[['True',
  'True',
  'True',
  'True',
  'True',
  'True',
  'True',
  'Yes, A and B are the same.',
  'True',
  'True',
  'True',
  'Yes, A and B are the same.',
  'True',
  'True',
  'Yes',
  'True',
  'True',
  'Yes',
  'True',
  'False',
  'True',
  'Yes',
  'True',
  'True',
  'True',
  'True',
  'True',
  'True',
  'True',
  'True',
  'True',
  'True',
  'True',
  'True',
  'Yes',
  'True',
  'Yes, A and B are the same.',
  'True',
  'True',
  'True',
  'True',
  'Yes',
  'True',
  'False',
  'True',
  'Yes, A and B are the same.',
  'True',
  'True',
  'True',
  'True'],
 [1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  0,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  0,
  1,
  1,
  1,
  1,
  1,
  1]]

In [52]:
file = open("drive/MyDrive/mit22/gpt3_results/%s.txt"%(dataset_name+'_fewshot_temperature_'+str(temp)), "w")

# Saving the results in a text file
content = str('\n'.join(few_shot_result[0]))
file.write(content)
file.close()

In [54]:
labels = np.array([int(x) for x in np.array(df['label'])])

In [142]:
results = pd.DataFrame({"GPT-3": few_shot_result[1], "Labels": labels[:len(few_shot_result[1])]})
results

    GPT-3  Labels
0       1       1
1       1       0
2       1       0
3       1       0
4       1       0
5       1       0
6       1       1
7       1       0
8       1       0
9       1       0
10      1       1
11      1       0
12      1       1
13      1       0
14      1       0
15      1       0
16      1       0
17      1       0
18      1       0
19      0       0
20      1       0
21      1       0
22      1       0
23      1       0
24      1       0
25      1       0
26      1       1
27      1       0
28      1       0
29      1       0
30      1       0
31      1       0
32      1       1
33      1       1
34      1       0
35      1       0
36      1       0
37      1       0
38      1       0
39      1       0
40      1       0
41      1       0
42      1       0
43      0       0
44      1       0
45      1       0
46      1       1
47      1       0
48      1       0
49      1       1

In [58]:
path = '/content/drive/My Drive/mit22/gpt3_results/%s.csv'%(dataset_name+'_fewshot_temperature_'+str(temp))

with open(path, 'w+', encoding = 'utf-8-sig') as f:
  results.to_csv(f)

In [57]:
print(path)

/content/drive/My Drive/mit22/gpt3_results/music_fewshot_temperature_0.csv

## Zero-Shot Ensemble (Majority Vote)